<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>About Flask</title>
</head>
<body>
{% extends "template.html" %}
{% block content %}

{% if zonesForm.errors %}
    <ul class="errors">
        {% for field_name, field_errors in zonesForm.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ zonesForm[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}

{% if message %}
  <div class="alert success">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    {{ message }}
  </div>
{% endif %}

<form method='post'>
  {{ zonesForm.hidden_tag() }}
  <dl>
    {% for zone in zonesForm.zones %}
      <h1>Zone {{ zone.number.data }}</h2>
      <div>{{ zone.disabled.label }}: {{ zone.disabled }}</div>
      <div>{{ zone.alias.label }}: {{ zone.alias }}</div>
      <div>{{ zone.interval_days.label }}: {{ zone.interval_days }}</div>
      <div>{{ zone.scheduled_time.label }}: {{ zone.scheduled_time }}</div>
      <div>{{ zone.duration_minutes.label }}: {{ zone.duration_minutes }}</div>
    {% endfor %}
  </dl>
  <p>{{ zonesForm.submit }}
</form>
{% endblock %}
</body>
</html>