<!DOCTYPE html>
<html>
<head>
    <title>Zones</title>
</head>
<body>
{% extends "template.html" %}
{% block content %}
<h1> Zones </h1>

<form method='post'>
    <h2>Zone 1</h2>
    <b>Name</b> <input type="text" name="name_1"><br>
    <b>Disabled</b> <input type="checkbox" name="disabled_1" checked><br>
    <b>Interval (days)</b> <input type="number" name="interval_days_1" min="1" max="7" value="1"><br>
    <b>Time</b> <input type="time" name="scheduled_time_1"><br>
    <b>Duration (minutes)</b> <input type="number" name="duration_minutes_1" min="1" max="1440" value="60"><br>

    <input type="submit" name="submit" value="Submit">
    <input type="reset" name="reset" value="Reset"><br>
</form>
{% endblock %}
</body>
</html>